version: '3.8'
services:
  backend:
    build: .
    container_name: fastapi-backend
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    volumes:
      - ./:/usr/src/app
  mongo:
    image: mongo:6.0
    container_name: fastapi-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
